{% extends "bootstrap/base.html" %}

{% block title %}Indivisible{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/style.css">
{% endblock %}

{% block content %}
{{ super() }}
<nav class="navbar navbar-default" style="background: #001f5c;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">Indivisible</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="https://www.paypal.me/danieltahara">Support Us</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
