{% macro print_key_values(dict, key_class, val_class) -%}
{% for key, value in dict.iteritems() %}
<div class="row">
  {% if not value is mapping %}
  <div class={{key_class}}>{{key}}:</div>
  <div class={{val_class}}>{{value}}</div>
  {% endif %}
</div>
{% endfor %}
{%- endmacro %}

{% macro render_member(member) -%}
{% if member.get_image_url() -%}
<div class="col-md-4">
  <img class="img-responsive" src={{member.get_image_url()}} alt={{member.get_name()|safe}}>
</div>
<div class="col-md-8">
{% else %}
<div class="col-md-12">
{% endif %}
  <div class="row">
    <div class="col-md-3">Name</div>
    <div class="col-md-9">{{member.get_name()}}</div>
  </div>
  <div class="row">
    <div class="col-md-3">State</div>
    <div class="col-md-9">{{member.get_state()}}</div>
  </div>
  <div class="row">
    <div class="col-md-3">District</div>
    <div class="col-md-9">{{member.get_district()}}</div>
  </div>
  <div class="row">
    <div class="col-md-3">Chamber</div>
    <div class="col-md-9">{{member.get_chamber()}}</div>
  </div>
  <div class="row">
    <div class="col-md-3">Party</div>
    <div class="col-md-9">{{member.get_party()}}</div>
  </div>
  <div class="row">
    <div class="col-md-3">Website</div>
    <div class="col-md-9"><a href={{member.get_website()}}>{{member.get_website()}}</a></div>
  </div>
  <div class="row">
    <div class="col-md-3">Committees</div>
    <div class="col-md-9">
      {% for c in member.get_committees() -%}
      <div class="row"><div class="col-md-12">
          <a href={{url_for('get_committee', chamber=member.get_chamber(), code=c['code'])}}>{{c['name']}}</a>
      </div></div>
      {%- endfor %}
    </div>
  </div>
</div>
{%- endmacro %}

{% macro render_vote(vote_json) -%}
<tr>
  <td>{{vote_json['date']}}</td>
  <td>
    <a href={{url_for('get_votes', congress=vote_json['congress'], chamber=vote_json['chamber'],
      session=vote_json['session'],
      roll_call=vote_json['roll_call'])}}>{{vote_json['question']}}</a>
  </td>
  <td>{{vote_json['description']}}</td>
  {% if vote_json['position'] == 'Yes' -%}
  <td class="bg-success">{{vote_json['position']}}</td>
  {% else %}
  <td class="bg-danger">{{vote_json['position']}}</td>
  {%- endif %}
</tr>
{%- endmacro %}

{% macro render_event(event) -%}
<tr>
  <td class="col-md-2">{{event['eventDate']}}</td>
  <td>
    <div class="row"><div class="col-md-12">
      <a href={{url_for('get_event', uri=event['uri'])}}>{{event['title']['eng']}}</a>
    </div></div>
    <div class="row"><div class="col-md-12">
      {% for c in event['categories'] -%}
      <span class="tag">{{c['label'][5:]}}</span>
      {%- endfor %}
    </div></div>
  </td>
</tr>
{%- endmacro %}

{% macro render_rss(item) -%}
<tr class="member-statements">
  <td class="col-md-3"><a href={{item['link']}}>{{item['title']}}</a></td>
  <td><div style="height:200px; overflow-y:hidden;">{{item['description']|safe}}</div></td>
</tr>
{%- endmacro %}

{% macro render_office_info(office) -%}
<tr>
  <td><em>{{office["City"]}}</em></td>
  <td>{{ office["Phone"] }}</td>
  <td>
    <div class="row">
      <div class="col-md-12">
        {% if office["StaffList"] is iterable -%}
        {% for s in office["StaffList"] -%}
        <div class="row">
          <div class="col-md-12"><em>{{ s["OfficeStaffTypeDescription"] }}</em>: {{ s["FirstName"] }} {{s["LastName"]}}</div>
        </div>
        {%- endfor %}
        {%- endif %}
      </div>
    </div>
  </td>
</tr>
{% endmacro %}
