{% macro print_key_values(dict, key_class, val_class) -%}
{% for key, value in dict.iteritems() %}
<div class="row">
  {% if not value is mapping %}
  <div class={{key_class}}>{{key}}:</div>
  <div class={{val_class}}>{{value}}</div>
  {% endif %}
</div>
{% endfor %}
{%- endmacro %}

{% macro render_member(member) -%}
{% if member.get_image_url() -%}
<div class="col-md-4">
    <img src={{member.get_image_url()}} alt={{member.get_name()}} style="width:200;height:300px">
</div>
<div class="col-md-8">
{% else %}
<div class="col-md-12">
{% endif %}
  <div class="row">
    <div class="col-md-2">Name</div>
    <div class="col-md-10">{{member.get_name()}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">State</div>
    <div class="col-md-10">{{member.get_state()}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">District</div>
    <div class="col-md-10">{{member.get_district()}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">Chamber</div>
    <div class="col-md-10">{{member.get_chamber()}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">Party</div>
    <div class="col-md-10">{{member.get_party()}}</div>
  </div>
  <div class="row">
    <div class="col-md-2">Website</div>
    <div class="col-md-10"><a href={{member.get_website()}}>{{member.get_website()}}</a></div>
  </div>
  <div class="row">
    <div class="col-md-2">Committees</div>
    <div class="col-md-10">
      {% for c in member.get_committees() -%}
      <div class="row"><div class="col-md-12">
          <a href={{url_for('get_committee', chamber=member.get_chamber(), code=c['code'])}}>{{c['name']}}</a>
      </div></div>
      {%- endfor %}
    </div>
  </div>
</div>
{%- endmacro %}

{% macro render_vote(vote_json) -%}
<div class="row">
  <div class="col-md-2">{{vote_json['date']}}</div>
  <div class="col-md-2">
    <a href={{url_for('get_votes', congress=vote_json['congress'], chamber=vote_json['chamber'],
      session=vote_json['session'], roll_call=vote_json['roll_call'])}}>{{vote_json['question']}}</a></div>
  <div class="col-md-7">{{vote_json['description']}}</div>
  <div class="col-md-1">{{vote_json['position']}}</div>
</div>
{%- endmacro %}

{% macro render_event(event) -%}
<div class="row">
  <div class="col-md-2">{{event['eventDate']}}</div>
  <div class="col-md-10">
    <div class="row">
      <a href={{url_for('get_event', uri=event['uri'])}}>{{event['title']['eng']}}</a>
    </div>
    <div class="row">
      {% for c in event['categories'] -%}
      <div class="row">{{c['label']}}</div>
      {%- endfor %}
    </div>
  </div>
</div>
{%- endmacro %}

{% macro render_rss(item) -%}
<div class="row member-statements">
  <div class="col-md-3"><a href={{item['link']}}>{{item['title']}}</a></div>
  <div class="col-md-9">{{item['description']|safe}}</div>
</div>
{%- endmacro %}

{% macro render_office_info(office) -%}
<div class="row">
  <div class="col-md-12">
    <div class="row"><div class="col-md-12"><strong>{{office["City"]}}</strong></div></div>
    <div class="row"><div class="col-md-12"><em>Phone</em>: {{ office["Phone"] }}</div></div>
    <div class="row">
      <div class="col-md-12">
        {% if office["StaffList"] is iterable -%}
        {% for s in office["StaffList"] -%}
        <div class="row">
          <div class="col-md-12"><em>{{ s["OfficeStaffTypeDescription"] }}</em>: {{ s["FirstName"] }} {{s["LastName"]}}</div>
        </div>
        {%- endfor %}
        {%- endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
