{% macro print_key_values(dict, key_class, val_class) -%}
{% for key, value in dict.iteritems() %}
<div class="row">
  {% if not value is mapping %}
  <div class={{key_class}}>{{key}}:</div>
  <div class={{val_class}}>{{value}}</div>
  {% endif %}
</div>
{% endfor %}
{%- endmacro %}

{% macro render_member(member) -%}
<div class="row">
  <div class="col-md-2">Name</div>
  <div class="col-md-8">{{member.get_name()}}</div>
</div>
<div class="row">
  <div class="col-md-2">State</div>
  <div class="col-md-8">{{member.get_state()}}</div>
</div>
<div class="row">
  <div class="col-md-2">District</div>
  <div class="col-md-8">{{member.get_district()}}</div>
</div>
<div class="row">
  <div class="col-md-2">Chamber</div>
  <div class="col-md-8">{{member.get_chamber()}}</div>
</div>
<div class="row">
  <div class="col-md-2">Party</div>
  <div class="col-md-8">{{member.get_party()}}</div>
</div>
<div class="row">
  <div class="col-md-2">Website</div>
  <div class="col-md-8"><a href={{member.get_website()}}>{{member.get_website()}}</a></div>
</div>
<div class="row">
  <div class="col-md-2">Committees</div>
  <div class="col-md-8">
    {% for c in member.get_committees() -%}
    <div class="row"><div class="col-md-12">
        <a href={{url_for('get_committee', chamber=member.get_chamber(), id=['code'])}}>{{c['name']}}</a>
    </div></div>
    {%- endfor %}
  </div>
</div>
{%- endmacro %}
