{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class="container">
  <div class="page-header">
    <h2>We Are Indivisible</h2>
  </div>
  <div class="row"><div class="col-md-12">
    <p>Your members of Congress are your voice on Capitol Hill, and with just a little bit of
      effort, you can have your voice heard. This is the mantra of the
      <a href="https://www.indivisibleguide.com">Indivisible Guide</a>.
    </p>
    <p>This website is here to help you express your voice. It provides all the information you need
      to stay up to date on your members of Congress -- their contact info, public statements, and
      vote records, and much more -- in one convenient place. You can even call them directly from
      their profile page!
    </p>
    <p>
      Our primary goal was to make accessible all the free and wonderful resources that exist to
      help stay politically informed, so rather than provide any analysis tools on the site, I link
      out to those resources when relevant. If we missed any of your favorites, please let us know.
    </p>
    <p>
      So let's get started, shall we?
    </p>
  </div></div>
  <div class="row">
    <div class="col-md-6 text-center">
      <a class="btn btn-block btn-primary" type="button"
        href="/members">Find Your Reps</a>
    </div>
    <div class="col-md-6 text-center">
      <a class="btn btn-block btn-primary" type="button"
        href={{url_for('get_whats_hot')}}>See What's Hot</a>
    </div>
  </div>
</div>
{% endblock %}
