.member-contact > .row, .member-recent-votes > .row, .member-recent-events > .row {
  margin-bottom: 3px;
  border-bottom: 1px solid #BBB;
}

.member-statements {
  height: 200px;
  overflow-y: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #BBB;
}

.member-profile {
  margin-bottom: 10px;
}

.tab-content {
  margin-top: 10px;
}

.twitter-timeline-container {
  height: 1500px;
  overflow-y: scroll;
}
